<%= content_for :head do %>
	<meta property="og:title" content="Catch a great bite with good people."/>
	<meta property="og:image" content="http://bitehook.com/assets/bitehook.png"/>
	<meta property="og:site_name" content="BiteHook"/>
<% end %>
<div class="events">
	<%= render @events %>
</div>