<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# bitehook: http://ogp.me/ns/fb/bitehook#">
	<meta property="fb:app_id" content="<%= app_id %>" />
	<meta property="og:type"   content="bitehook:event" />
	<meta property="og:title" content="Event Name>" />
	<meta property="og:image" content="http://bitehook.com/assets/bitehook.png" />
	<meta property="og:description" content="Event Info" />
	<meta property="og:site_name" content="BiteHook" />
</head>
<body>
	http://bitehook.com<%= event_path(@event) %>
</body>
</html>