.footer {
	height: 40px;
	background: rgb(60, 60, 60);
	margin-top: -40px;
}

.copyright {
	position: relative;
	top: 15px;
}

.copyright p {
	color: rgb(245, 245, 245);
	font-size: 11px;
	text-align: center;
}