.header {
	background: rgb(207, 4, 4);
	height: 44px;
}

.inHeader {
	height: 44px;
	margin: 0 auto;
	width: 1000px;
}

.inHeader .logo {
	height: 44px;
	width: 150px;
}

.rightNav {
	float: right;	
}

.rightNav .headerNav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.rightNav .headerNav li {
	display: inline-block;
}

.rightNav .headerNav li a {
	color: rgb(245, 245, 245);
	display: block;
	font-size: 14px;
	height: 16px;
	padding: 14px 15px;
}

.rightNav .headerNav li a:hover {
	background: rgb(227, 24, 24);
}

/* Account menu */
.accountMenu {
	display: none;
	position: absolute;
	top: 44px;
	z-index: 500;
}

.accountMenu ul {
	background: rgb(255, 255, 255);
	border-right: 1px solid rgb(207, 4, 4);
	border-bottom: 1px solid rgb(207, 4, 4);
	border-left: 1px solid rgb(207, 4, 4);
	list-style-type: none;
	margin: 0 0 0 -142px;
	padding: 0;
	position: relative;
	width: 140px;
	box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3);
}

.accountMenu a {
	color: rgb(60, 60, 60);
	display: block;
	font-size: 13px;
	padding: 10px 15px 10px 25px;
	width: 100px;
}

.accountMenu a:hover {
	background: rgb(225, 225, 225);
}